After consideration of the performance score of each impuation methods, we decided to use Linear Regression.

Data preparation

ï¼ˆNote: I have modified the file name before reading the files, because some of them have spaces in their name, it is annoying)

In [1]:
import pandas as pd
import numpy as np

#first, we create an array of all the filenames, so we can loop through them later
files = ("Target4.1.xlsx", "Target4.2.xlsx", "Target4.3.xlsx", "Target4.4.xlsx", "Target4.5.xlsx", "Target4.6.xlsx", "Target4.c.xlsx", );
df_union = pd.DataFrame();

#iterate each file and do the transformationa and aggregation
for file in files:
  #read the data from Data sheet in each file
  df = pd.read_excel(file, sheet_name="Data").copy();

  #remove the ones which has less than 3 valid values
  temp = df.isnull().sum(axis=1);
  row_to_delete = temp[temp > 15].index;
  df_data = df.drop(labels=row_to_delete);

  #read the data from Country - Metadata sheet in each file
  df_meta = pd.read_excel(file, sheet_name="Country - Metadata")[['Code', "Income Group"]].copy();

  #as we can see from the excel file that there are some countries don't have income group classification assigned to them
  #the way we deal with this case is filling them with "Unknown income"
  df_meta["Income Group"] = df_meta["Income Group"].fillna("Unknown income");
  #print(df_meta);

  #rename the column Code to Country Code so that I can join these two dataframe later
  df_meta.rename(columns={"Code":"Country Code"}, inplace=True);
  df_new = pd.merge(df_data, df_meta, how="left", on="Country Code");
  #print(df_new);
  #now, we have a dataframe with data of each yearly indicator value and the corresponding income group level.


  #here, we take the series name out and make them as the array of indicators, because we need to aggregate the data by Series Name later
  indicators = df_new['Series Name'].unique();
  #print(indicators)

  #iterate the indicator in each file
  for indicator in indicators:
    #filter the data under this indicator in this file
    df_sub = df_new[df_new['Series Name'] == indicator].copy();
    #print(df_sub);

    #manipulate the dataframe before imputation
    temp = df_sub.copy();

    #do the linear regression imputation, same as what has been done in part 2.
    #1.get the countries name into a list
    #2.drop the unnecessary columns in the linear regression
    #3.rotate the dataframe, so the columns become index, and index become columns
    #4.set the columns name to the corresponding countries name we extracted in step 1
    #5.set the index name to 2003 to 2023, we have included 2003 because we need to use the first row to store the series name, 
    #  included 2022 because we have last row storing the income group data
    #6.linear regression on each column ( country )
    #7.rotate back to original format so countries become data points and years and indicator become features, income group becomes label.
    #8.combine all dataframe from each indicator, each file into a final dataframe.
    countryNames = temp['Country Code'].values.tolist();

    temp = temp.drop(['Series Code', 'Country Name', 'Country Code'], axis=1);

    temp_T = temp.T;
    temp_T.columns = countryNames;
    temp_T.index = list(range(2003,2023));
    temp_T.rename(index={2003:"Series Name"}, inplace=True);
    temp_T.rename(index={2022:"Income Group"}, inplace=True);
    #print(temp_T);

    #imputation
    from sklearn.linear_model import LinearRegression;
    regression = LinearRegression();

    temp_regr = temp_T.copy();
    #remote the series name row and income group row before doing linear regression
    lastRow = temp_regr.copy().iloc[-1:];
    firstRow = temp_regr.copy().iloc[:1];
    #print(firstRow);
    temp_regr = temp_regr.iloc[:-1];
    temp_regr = temp_regr.iloc[1: , :];
    #print(temp_regr);

    #iterate each column (country)
    for x in temp_regr.columns:
      temp = temp_regr[x].copy();
      X_test = temp[temp.isnull()==True];

      #check if there is NaN value
      if(len(X_test.index)>0):
        train = temp[temp.isnull()==False];
        regression.fit(np.array(train.index).reshape(-1,1), np.array(train.values).reshape(-1,1));
        y_predict = regression.predict(np.array(X_test.index).reshape(-1,1));
        temp[temp.isnull()==True] = y_predict;
        temp_regr[x] = temp;

    temp_regr = temp_regr.append(lastRow);
    temp_regr = pd.concat([firstRow, temp_regr.loc[:]]);
    #print(temp_regr.T)
    aggregation = temp_regr.T.copy();
    #print("-------------------------", file,": ", indicator, "--------------------------");
    #df_aggr = aggregation.groupby("Income Group").mean();
    #print(aggregation.groupby("Income Group").mean());
    df_union = pd.concat([df_union, temp_regr.T]);


#aggregate the data by using groupby(), so we can see the average value of each yearly indicator value in each income group level.
df_series = df_union.copy();
df_aggr = df_series.groupby(["Series Name","Income Group"]).mean();
print(df_aggr)

                                                                             2004  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.936632
                                                   Low income           52.267323
                                                   Lower middle income  24.090806
                                                   Unknown income       20.590895
                                                   Upper middle income   9.056628
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.255849
                                                   Low income            0.433131
                                                   Lower middle income   0.814056
                                                   Unknown income        0.965685
                                                   Upper middle income   1.179518

                                                                             2005  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.643731
                                                   Low income           50.901841
                                                   Lower middle income  22.886342
                                                   Unknown income       19.907358
                                                   Upper middle income   8.982813
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.258172
                                                   Low income            0.455978
                                                   Lower middle income   0.837619
                                                   Unknown income        0.977105
                                                   Upper middle income   1.177191

                                                                             2006  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.009045
                                                   Low income           48.972654
                                                   Lower middle income  21.801645
                                                   Unknown income       19.332492
                                                   Upper middle income   8.572148
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.261682
                                                   Low income            0.499438
                                                   Lower middle income   0.848073
                                                   Unknown income        0.991362
                                                   Upper middle income   1.195475

                                                                             2007  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.832807
                                                   Low income           47.772743
                                                   Lower middle income  20.162965
                                                   Unknown income       18.933810
                                                   Upper middle income   8.670265
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.259635
                                                   Low income            0.506105
                                                   Lower middle income   0.879904
                                                   Unknown income        0.995222
                                                   Upper middle income   1.208122

                                                                             2008  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.452802
                                                   Low income           45.811710
                                                   Lower middle income  20.220492
                                                   Unknown income       18.420650
                                                   Upper middle income   8.298604
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.261779
                                                   Low income            0.527114
                                                   Lower middle income   0.886488
                                                   Unknown income        1.005546
                                                   Upper middle income   1.195554

                                                                             2009  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.074561
                                                   Low income           45.399501
                                                   Lower middle income  18.666598
                                                   Unknown income       17.872307
                                                   Upper middle income   8.733632
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.255188
                                                   Low income            0.540150
                                                   Lower middle income   0.889961
                                                   Unknown income        1.007705
                                                   Upper middle income   1.215994

                                                                             2010  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.050666
                                                   Low income           42.958094
                                                   Lower middle income  19.379074
                                                   Unknown income       17.238260
                                                   Upper middle income   8.277499
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.259567
                                                   Low income            0.546162
                                                   Lower middle income   0.905415
                                                   Unknown income        1.010373
                                                   Upper middle income   1.225038

                                                                             2011  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.141271
                                                   Low income           42.411921
                                                   Lower middle income  18.489401
                                                   Unknown income       17.031623
                                                   Upper middle income   7.969125
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.255749
                                                   Low income            0.559356
                                                   Lower middle income   0.907430
                                                   Unknown income        1.014170
                                                   Upper middle income   1.243157

                                                                             2012  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.338536
                                                   Low income           41.383849
                                                   Lower middle income  17.643308
                                                   Unknown income       16.518991
                                                   Upper middle income   7.443209
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.261409
                                                   Low income            0.583929
                                                   Lower middle income   0.921239
                                                   Unknown income        1.028198
                                                   Upper middle income   1.256145

                                                                             2013  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.138206
                                                   Low income           42.241334
                                                   Lower middle income  17.593852
                                                   Unknown income       16.747643
                                                   Upper middle income   7.280012
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.257422
                                                   Low income            0.626351
                                                   Lower middle income   0.942700
                                                   Unknown income        1.035722
                                                   Upper middle income   1.247474

                                                                             2014  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           4.156099
                                                   Low income           40.394762
                                                   Lower middle income  18.019929
                                                   Unknown income       16.714956
                                                   Upper middle income   7.010627
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.248144
                                                   Low income            0.616600
                                                   Lower middle income   0.963811
                                                   Unknown income        1.039637
                                                   Upper middle income   1.239383

                                                                             2015  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.580326
                                                   Low income           39.631006
                                                   Lower middle income  17.832856
                                                   Unknown income       16.150661
                                                   Upper middle income   6.651016
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.263910
                                                   Low income            0.599721
                                                   Lower middle income   0.969246
                                                   Unknown income        1.040256
                                                   Upper middle income   1.253518

                                                                             2016  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.821159
                                                   Low income           38.744785
                                                   Lower middle income  18.238794
                                                   Unknown income       15.817858
                                                   Upper middle income   8.036433
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.252606
                                                   Low income            0.629616
                                                   Lower middle income   0.970527
                                                   Unknown income        1.048093
                                                   Upper middle income   1.252864

                                                                             2017  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.404889
                                                   Low income           38.110820
                                                   Lower middle income  15.573466
                                                   Unknown income       15.796813
                                                   Upper middle income   7.640396
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.254172
                                                   Low income            0.601448
                                                   Lower middle income   0.974638
                                                   Unknown income        1.053350
                                                   Upper middle income   1.260690

                                                                             2018  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.587619
                                                   Low income           39.986056
                                                   Lower middle income  17.946488
                                                   Unknown income       15.226719
                                                   Upper middle income   7.811101
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.251822
                                                   Low income            0.568212
                                                   Lower middle income   0.932726
                                                   Unknown income        1.062950
                                                   Upper middle income   1.246066

                                                                             2019  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.409499
                                                   Low income           38.216232
                                                   Lower middle income  16.890145
                                                   Unknown income       15.219134
                                                   Upper middle income   9.096642
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.277224
                                                   Low income            0.581163
                                                   Lower middle income   0.959597
                                                   Unknown income        1.074728
                                                   Upper middle income   1.260812

                                                                             2020  \
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.425233
                                                   Low income           45.814830
                                                   Lower middle income  17.851805
                                                   Unknown income       15.331260
                                                   Upper middle income   8.953282
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.273779
                                                   Low income            0.596978
                                                   Lower middle income   0.970581
                                                   Unknown income        1.075487
                                                   Upper middle income   1.253750

                                                                             2021
Series Name                                        Income Group
Adolescents out of school (% of lower secondary... High income           3.797235
                                                   Low income           43.730355
                                                   Lower middle income  16.535386
                                                   Unknown income       14.321732
                                                   Upper middle income   7.535898
...                                                                           ...
School enrollment, tertiary (gross), gender par... High income           1.277485
                                                   Low income            0.592312
                                                   Lower middle income   0.994781
                                                   Unknown income        1.083070
                                                   Upper middle income   1.243972

[100 rows x 18 columns]

In the aggregation, because we are trying to aggregate the yearly indicator values based on the income group, for each indicator, it is more suitable to use the average value in this situation, as it can show us countries with what are the average value of each year for each indicator are considered to be "High income", "Low income", "Lower middle income", "Upper middle income" and "Unkonwn income".

The following code is used for installation of pyspark in Google Colab, as we are doing the project at home.

In [2]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

# Let's import the libraries we will need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)
openjdk-8-jdk-headless is already the newest version (8u342-b07-0ubuntu1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 12 not upgraded.

Data Transformation

Data transformation before classification

In [3]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml.feature import StringIndexer

#1.get all countries' code into a list
#2.reset the index of the dataframe because currently it is the countries name
#3.rename the original index column to Country.
#4.iterate each country using the countries'code list
#5.combine all the dataframe of each country into one.
#print(df_union);
countries = df_union.index.to_list();
UnionDF = df_union.copy().reset_index();
UnionDF.rename(columns={"index":"Country"}, inplace=True);
#print(UnionDF);

FinalDF = pd.DataFrame();

for country in countries:
  #filter the data of this country
  TempDF = UnionDF[UnionDF['Country'] == country];
  DF = TempDF.copy().drop(['Country'], axis=1);
  Series = DF['Series Name'].values.tolist();
  #get the income value of this country
  IncomeLv = DF['Income Group'].values[0];
  #drop the income group column because it will affect our aggregation later on
  DF = DF.drop(['Income Group'], axis=1);
  #print(IncomeLv)
  #drop the series name column and make it as the index of the dataframe, so as to transform our dataframe.
  DF = DF.drop(['Series Name'], axis=1);
  DF.index = Series;
  AggrDF = DF.T;
  #reset index so we can use year to aggregate later on
  AggrDF = AggrDF.reset_index();
  AggrDF.rename(columns={"index":"Year"}, inplace=True);
  #set a column storing the income group value of this country, because one country can only have one income group value, 
  #we can simly set the value of this column to the IncomeLv we got previously from the dataframe.
  AggrDF['Income Group'] = IncomeLv;
  #transformation done!
  #print(AggrDF);
  FinalDF = pd.concat([FinalDF, AggrDF]);

FinalDF = FinalDF.groupby(['Year', 'Income Group']).mean();
#fill the index under the same 'Year' group.
FinalDF = FinalDF.reset_index(level=1);
print(FinalDF);

             Income Group  Children out of school (% of primary school age)  \
Year
2004          High income                                          2.942631
2004           Low income                                         28.415644
2004  Lower middle income                                         13.302011
2004       Unknown income                                         12.870535
2004  Upper middle income                                          3.891834
...                   ...                                               ...
2021          High income                                          2.353911
2021           Low income                                         16.065125
2021  Lower middle income                                          7.917651
2021       Unknown income                                          7.960475
2021  Upper middle income                                          4.887129

      Adolescents out of school (% of lower secondary school age)  \
Year
2004                                           3.948917
2004                                          54.570324
2004                                          24.706240
2004                                          20.909441
2004                                           8.995047
...                                                 ...
2021                                           3.734615
2021                                          45.504563
2021                                          16.934360
2021                                          14.539275
2021                                           7.276865

      Primary completion rate, total (% of relevant age group)  \
Year
2004                                          98.203861
2004                                          50.026794
2004                                          78.674697
2004                                          83.281634
2004                                          96.137165
...                                                 ...
2021                                          97.923430
2021                                          68.875130
2021                                          89.850181
2021                                          89.848299
2021                                          97.889216

      Lower secondary completion rate, total (% of relevant age group)  \
Year
2004                                          94.709876
2004                                          23.568940
2004                                          55.540990
2004                                          65.956677
2004                                          76.566637
...                                                 ...
2021                                          97.029553
2021                                          37.936127
2021                                          71.175381
2021                                          76.150089
2021                                          86.440406

      School enrollment, preprimary (% gross)  \
Year
2004                                85.677671
2004                                13.237627
2004                                32.360040
2004                                38.932137
2004                                53.124284
...                                       ...
2021                                91.772169
2021                                22.663612
2021                                53.941870
2021                                61.626567
2021                                68.669797

      School enrollment, tertiary (% gross)  \
Year
2004                              48.615504
2004                               3.854992
2004                              12.768816
2004                              24.535325
2004                              30.401364
...                                     ...
2021                              63.046440
2021                               9.068268
2021                              24.744824
2021                              41.856474
2021                              46.397586

      Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)  \
Year
2004                                          24.095602
2004                                           4.563105
2004                                          11.684730
2004                                          11.068410
2004                                          17.959317
...                                                 ...
2021                                          32.358933
2021                                           4.989935
2021                                          16.001673
2021                                          14.924608
2021                                          21.130050

      Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)  \
Year
2004                                          20.606774
2004                                           3.035709
2004                                          10.585573
2004                                           7.293211
2004                                          14.337786
...                                                 ...
2021                                          29.951686
2021                                           3.205109
2021                                          13.989354
2021                                          35.499394
2021                                          18.167270

      Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)  \
Year
2004                                          58.790793
2004                                           7.361935
2004                                          28.446555
2004                                          31.318953
2004                                          43.451996
...                                                 ...
2021                                          67.174394
2021                                           7.842929
2021                                          34.987377
2021                                          52.994067
2021                                          52.996501

      ...  School enrollment, secondary (gross), gender parity index (GPI)  \
Year  ...
2004  ...                                           1.006076
2004  ...                                           0.649935
2004  ...                                           0.916351
2004  ...                                           0.923431
2004  ...                                           1.043972
...   ...                                                ...
2021  ...                                           0.999402
2021  ...                                           0.880430
2021  ...                                           0.997588
2021  ...                                           0.990158
2021  ...                                           1.046796

      School enrollment, tertiary (gross), gender parity index (GPI)  \
Year
2004                                           1.250609
2004                                           0.427402
2004                                           0.817725
2004                                           0.962139
2004                                           1.196717
...                                                 ...
2021                                           1.273386
2021                                           0.595770
2021                                           0.999827
2021                                           1.081284
2021                                           1.257900

      Literacy rate, adult total (% of people ages 15 and above)  \
Year
2004                                          92.580656
2004                                          42.013981
2004                                          66.636463
2004                                          76.880129
2004                                          91.780533
...                                                 ...
2021                                          94.681411
2021                                          45.348550
2021                                          70.655871
2021                                          82.801272
2021                                          94.219471

      Literacy rate, youth total (% of people ages 15-24)  \
Year
2004                                          98.311541
2004                                          52.505136
2004                                          79.425336
2004                                          85.503484
2004                                          97.264697
...                                                 ...
2021                                          98.473750
2021                                          57.108645
2021                                          82.759863
2021                                          90.582879
2021                                          98.188618

      Pupil-teacher ratio, preprimary  Pupil-teacher ratio, primary  \
Year
2004                        15.254772                     15.091995
2004                        32.653555                     52.611466
2004                        22.774112                     33.875645
2004                        19.510045                     27.514650
2004                        17.640429                     21.066569
...                               ...                           ...
2021                        13.394196                     12.936802
2021                        27.211639                     45.147312
2021                        22.380240                     28.175157
2021                        19.916025                     23.211539
2021                        15.491086                     17.528055

      Pupil-teacher ratio, secondary  Pupil-teacher ratio, tertiary  \
Year
2004                       11.967362                      13.564724
2004                       34.848577                      21.719934
2004                       23.084415                      19.592353
2004                       19.315006                      12.820330
2004                       16.533516                      16.313351
...                              ...                            ...
2021                       10.663556                      13.689309
2021                       31.657206                      23.667923
2021                       19.140222                      24.032839
2021                       16.621106                      14.303443
2021                       14.804450                      15.853714

      Pupil-teacher ratio, upper secondary  \
Year
2004                             11.921638
2004                             21.934712
2004                             21.900579
2004                             17.669308
2004                             16.019476
...                                    ...
2021                             11.163996
2021                             23.506863
2021                             19.680142
2021                             16.094463
2021                             13.340285

      Pupil-teacher ratio, lower secondary
Year
2004                             12.383204
2004                             34.554728
2004                             27.381807
2004                             20.465201
2004                             16.828791
...                                    ...
2021                             10.425898
2021                             30.564217
2021                             22.025460
2021                             17.222371
2021                             14.857946

[90 rows x 21 columns]

Now, we have a dataframe:

**Year | indicator 1 | indicator 2 |.....| income group**

Now, 'Year' becomes the data points, each indicator becomes the features and income group becomes the labels.

Normalization

Because the differences between each indicator values range are big, it is more suitable to normalize them into a same specific range before classificaiton.

In [4]:
SparkDF = spark.createDataFrame(FinalDF);
#SparkDF.show();

#because income group column is nominal data (categorical information), we have to convert it into ordinal data (numerical information) first.
indexer = StringIndexer(inputCol="Income Group", outputCol="labels")
indexed = indexer.fit(SparkDF).transform(SparkDF)
#indexed.show();

#transform the dataframe, and put all indicators value into features
sparkDF_features = SparkDF.drop("Income Group");
assembler = VectorAssembler(inputCols=sparkDF_features.columns, outputCol="features");
features = assembler.transform(indexed);

#features.show();

#normalize the data using standard scaler
scaler = StandardScaler(inputCol="features", outputCol="scaled_features", withMean=False, withStd=True);
model = scaler.fit(features);
scaled_features = model.transform(features);

scaled_features['scaled_features', 'labels'].show();

+--------------------+------+
|     scaled_features|labels|
+--------------------+------+
|[0.46544305882724...|   0.0|
|[4.49457153240428...|   1.0|
|[2.10401133886066...|   2.0|
|[2.03576376764696...|   3.0|
|[0.61558086259305...|   4.0|
|[0.46780086787616...|   0.0|
|[4.13743226910186...|   1.0|
|[2.13866655205636...|   2.0|
|[1.91617097266923...|   3.0|
|[0.67179241522083...|   4.0|
|[0.43117709049354...|   0.0|
|[3.78155943873275...|   1.0|
|[2.03486361711975...|   2.0|
|[1.84927254880942...|   3.0|
|[0.69524656764033...|   4.0|
|[0.35290865925151...|   0.0|
|[3.52824175177563...|   1.0|
|[1.81416833192246...|   2.0|
|[1.66888144668028...|   3.0|
|[0.63499351549132...|   4.0|
+--------------------+------+
only showing top 20 rows

Split the data into training and test

In [5]:
#split data into training and testing under the ratio 8:2
train, test = scaled_features.randomSplit([0.8, 0.2],seed = 24)

Classification

Multilayer perceptron classifier

Because there are several paremeters needed to set in the Multilayer perceptron classifier, we decided to set several parameter settings (different intermediate layers) to find the best model for this classifier. After classification, we will do the evaluation of the classification by calculating the error percentage.

So does Decision Tree Classification, we have set several parameter settings (different tree depth and different bin values) in order to find out the best model of the Decision Tree Classifier.

(Note: because we are using 10 fold cross validation here, it may take quite a long time to finish evaluation------- around 5 min)

In [6]:
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

#set up evaluator
evaluator = MulticlassClassificationEvaluator(labelCol="labels", predictionCol="prediction", metricName="accuracy");

#print(len(sparkDF_features.columns));
mlpc = MultilayerPerceptronClassifier(labelCol="labels", featuresCol="scaled_features", maxIter=1000);

#we set 3 different sets of layer, to find the best parameter setting for Multilayer perceptron classifier
layer1 = [len(sparkDF_features.columns), 15, 5];
layer2 = [len(sparkDF_features.columns), 10, 5];
layer3 = [len(sparkDF_features.columns), 5, 5];

#set 3 different parameter sets with 3 different intermediate layer values.
paramGrid = ParamGridBuilder()\
  .addGrid(mlpc.layers, [layer1, layer2, layer3])\
  .build()

#here, I use numFolds=10, because we are asked to use 10 cross validation
crossValidation = CrossValidator(estimator=mlpc, evaluator=evaluator, numFolds=10, estimatorParamMaps=paramGrid);

xValidation_model = crossValidation.fit(train);
prediction = xValidation_model.transform(test);

#mlpc_model = mlpc.fit(train);
#prediction = mlpc_model.transform(test);
prediction.select("prediction", "labels", "scaled_features").show();

print("The best Model of Multilayer perceptron classifier is: ", xValidation_model.bestModel);

#have a look at the error percentage
accuracy = evaluator.evaluate(prediction)
print("Test Error = %g" % (1.0 - accuracy))

+----------+------+--------------------+
|prediction|labels|     scaled_features|
+----------+------+--------------------+
|       0.0|   0.0|[0.46544305882724...|
|       1.0|   1.0|[3.29985556008803...|
|       2.0|   2.0|[1.44690861039781...|
|       2.0|   2.0|[1.55148496547467...|
|       4.0|   4.0|[0.69524656764033...|
|       4.0|   4.0|[0.73231777016872...|
|       1.0|   1.0|[2.77038160530703...|
|       3.0|   2.0|[1.25592365971473...|
|       2.0|   2.0|[1.40212583438724...|
|       4.0|   4.0|[0.75784732458839...|
|       4.0|   4.0|[0.90550252470881...|
+----------+------+--------------------+

The best Model of Multilayer perceptron classifier is:  MultilayerPerceptronClassificationModel: uid=MultilayerPerceptronClassifier_6d92663177db, numLayers=3, numClasses=5, numFeatures=20
Test Error = 0.0909091

DecisionTree Classification

In [7]:
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

dt = DecisionTreeClassifier(labelCol="labels", featuresCol="scaled_features")

#set different parameter settings for decision tree classification
paramGrid = ParamGridBuilder() \
 .addGrid(dt.maxDepth, [10, 20, 30]) \
 .addGrid(dt.maxBins, [30, 40, 50]) \
 .build()

#declaring  crossvalidation object with k=10
crossval = CrossValidator(estimator=dt,
                          estimatorParamMaps=paramGrid,
                          evaluator=evaluator,
                          numFolds=10)

# Run cross-validation, and choose the best set of parameters.
cvModel = crossval.fit(train)

prediction = cvModel.transform(test)
prediction.select("prediction", "labels", "scaled_features").show()

# best model
print("The best Model of Decision Tree classifier is: ", cvModel.bestModel);

#accuracy on test dataset
accuracy = evaluator.evaluate(prediction)
print("Test Error = %g" % (1.0 - accuracy))

+----------+------+--------------------+
|prediction|labels|     scaled_features|
+----------+------+--------------------+
|       0.0|   0.0|[0.46544305882724...|
|       1.0|   1.0|[3.29985556008803...|
|       2.0|   2.0|[1.44690861039781...|
|       2.0|   2.0|[1.55148496547467...|
|       4.0|   4.0|[0.69524656764033...|
|       4.0|   4.0|[0.73231777016872...|
|       1.0|   1.0|[2.77038160530703...|
|       2.0|   2.0|[1.25592365971473...|
|       2.0|   2.0|[1.40212583438724...|
|       4.0|   4.0|[0.75784732458839...|
|       4.0|   4.0|[0.90550252470881...|
+----------+------+--------------------+

The best Model of Decision Tree classifier is:  DecisionTreeClassificationModel: uid=DecisionTreeClassifier_c4e8b35128c6, depth=4, numNodes=11, numClasses=5, numFeatures=20
Test Error = 0

Naive Bayes classifiers

(There is no parameter setting needed to considered in this classifer)

In [8]:
from pyspark.ml.classification import NaiveBayes

#because there is no parameter setting, we don't need to use cross validation in this classification
nb = NaiveBayes(labelCol="labels", featuresCol="scaled_features")
nb_model = nb.fit(train)
nb_prediction = nb_model.transform(test)
nb_prediction.select("prediction", "labels", "scaled_features").show()

accuracy = evaluator.evaluate(nb_prediction)
print("Test Error = %g" % (1.0 - accuracy))

+----------+------+--------------------+
|prediction|labels|     scaled_features|
+----------+------+--------------------+
|       0.0|   0.0|[0.46544305882724...|
|       1.0|   1.0|[3.29985556008803...|
|       2.0|   2.0|[1.44690861039781...|
|       2.0|   2.0|[1.55148496547467...|
|       4.0|   4.0|[0.69524656764033...|
|       4.0|   4.0|[0.73231777016872...|
|       1.0|   1.0|[2.77038160530703...|
|       2.0|   2.0|[1.25592365971473...|
|       2.0|   2.0|[1.40212583438724...|
|       4.0|   4.0|[0.75784732458839...|
|       4.0|   4.0|[0.90550252470881...|
+----------+------+--------------------+

Test Error = 0

Logistic Regression

In [9]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(labelCol="labels", featuresCol="scaled_features")

lrModel = lr.fit(train)

lr_prediction = lrModel.transform(test)
lr_prediction.select("prediction", "labels", "scaled_features").show()

accuracy = evaluator.evaluate(lr_prediction)
print("Test Error = %g" % (1.0 - accuracy))

+----------+------+--------------------+
|prediction|labels|     scaled_features|
+----------+------+--------------------+
|       0.0|   0.0|[0.46544305882724...|
|       1.0|   1.0|[3.29985556008803...|
|       2.0|   2.0|[1.44690861039781...|
|       2.0|   2.0|[1.55148496547467...|
|       4.0|   4.0|[0.69524656764033...|
|       4.0|   4.0|[0.73231777016872...|
|       1.0|   1.0|[2.77038160530703...|
|       2.0|   2.0|[1.25592365971473...|
|       2.0|   2.0|[1.40212583438724...|
|       4.0|   4.0|[0.75784732458839...|
|       4.0|   4.0|[0.90550252470881...|
+----------+------+--------------------+

Test Error = 0

Therefore, apart from Multilayer perceptron classifier, it seems like all other classification algorithms (Decision Tree Classification, Naive Bayes classifiers and Logistic Regression) did great jobs in this task, the Test Error of them are all 0, they all did prediction correctly.

**Contribution:**

**Contributor:** 

Xiaotao Pang - 572683

Junyuan Tang - 553287

Yexin Li     - 593295

**Works:**

Data Preparation and Aggregation:    ------ Xiaotao Pang, Yexin Li

Data Transformation:  ----- Xiaotao Pang, Junyuan Tang

Data Normalization:  ----- Junyuan Tang

Multilayer perceptron Classification: ------ Xiaotao Pang

Decision Tree Classification:  ----- Junyuan Tang

Naive Bayes Classification:   ------ Yexin Li

Linear Regression Classification:    ------ Yexin Li

Final Evaluation:    ------ Junyuan Tang

Justification and identification:  ------ Yexin Li